html
 head
 body
  include partials/includeMenu.jade
  br
  
  p
      medium Here you are in the city of #{cityName} : 
      img(src='/images/#{cityName}.jpg', alt='city image', width='50', height='50')
      small  : #{tagline}
      img(src='/images/#{cityName}.jpg', alt='city image', width='304', height='236')

  h3 #{tagline}
  h3= tagline
